body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header, .footer {
    height: 100px;
    background-color: #1F2937;
    padding: 0 6em 0 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    flex-direction: column;
    justify-content: center;
}

.headertext {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}   

ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

a, .subtext {    
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: normal;
    margin: 0;
}

.first {
    height: 400px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.intro {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 200px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.signup {
    padding: 8px 16px 8px 16px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    margin-top: 16px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 32px 0 32px 0;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.middlecontainer {
    display: flex;
    margin-top: 40px;
    gap: 32px;
}

.cardcontainer {
    display:flex;
    flex-direction: column;
}

.card {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.cardsubtext {
    text-align: center;
    font-size: 16px;
}

.quotecontainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #E5E7EB;
    padding: 100px 0 100px 0;
}

.quote {
    width: 1000px;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quoter {
    width: 1200px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #1F2937;
}

.final {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.calltoaction {
    background-color: #3882F6;
    width: 1200px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.calltoaction .signup {
    margin: 0;
}

